@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}

/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/

body{
	background-color: #fff;
	text-align: center;
	font-family: 'Merriweather', serif;
}


/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }


a{
	text-decoration: none;
	border: none;
	color: #fff;
}

a:visited{
	text-decoration: none;
	border: none;
	color: #fff;
}
a:link{
	text-decoration: none;
	border: none;
	color: #fff;
}

h2{
	font-family: 'Roboto', sans-serif;
	color: #d8ae58;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #9abd4e;
	text-align: left;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #bacc81;
}

p{
	font-family: 'Merriweather', serif;
	text-align: left;
	color: #666;
	font-size: 14px;
}

ul{
	text-decoration: none;
	border: none;
	list-style: none;
}

img{
	border-radius: 3px;
}

#siteContainer{
	margin: 0 auto;
	max-width: 320px;
}

#smallContainer{
	margin: 0 auto;
	max-width: 280px;
}

#mainHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #F2F2F2;

}
#desktopNav{
	display: none;
}

 .locationImg{
	 width: 20px;
	 height: 35px;
	 margin-left: 30px;
 }


 .imageText{
  position: absolute;
	text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	width: 100%;
	background: rgba(242, 242, 242, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	color: #fff;
 }

 .dedication{
	 display: none;
 }


	#mainHeader button{
		background: url(../images/burger0.svg)center no-repeat;
		width: 30px;
		height: 30px;
		border: 0px;
		margin-right: 30px;
		transition: all .3s linear;
	}

	#mainHeader button.expanded{
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	#mainNav{
		display: flex;
		flex-direction: column;

	}

	#mainNav ul li a{
		display: block;
		padding: 10px 0 10px 0;
		text-align: center;
		color: #8EA76D;
	}


	#burgerCon{
		display: none;
	}

	#burgerCon.slideToggle{
		display: block;
		margin-bottom: 10px;
	}

	#mainSearch{
		border-radius: 30px;
		background-color: #fff;
		text-align: center;
		outline: 0;
	}

	#searchNav{
		display: none;
	}


/* USED FOR CREATING THE BACKGROUND HERO IMAGE ON EVERY PAGE EXCEPT INDEX */
	#smallHero{
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		width: 100%;

		position: relative;
		text-align: center;
	}

	.smallHeroText{
	 position: absolute;
	 text-align: center;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-family: 'Roboto', sans-serif;
	 font-weight: bolder;
	 width: 100%;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 font-size: 18px;
	 color: #fff;
	}

	#smallHero img{
		max-height: 100px;
		width: 100%;
	}

	/* MOBILE */

	
	/* Start of the index page */

	#hero{
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		width: 100%;
		max-height: 213px;
		position: relative;
		text-align: center;
	}

	#welcome{
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	iframe{
		width: 250px;
		height: 150px;
		margin-bottom: 10px;

	}

	#meeting{
		width: 90%;
		margin: 0 auto;
		text-align: left;
		margin-bottom: 20px;
	}

	#generalMeet{
		margin-bottom: 10px;
	}

	#meetingTime{
		margin-bottom: 10px;
	}

	#purchase{
		display: flex;
		flex-direction: column;
		list-style: none;
		font-size: 26px;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 10px;

	}
	#purchase ul li{
		margin: 0 auto;
		color: #fff;
		padding: 10px;
		border-radius: 30px;
		background: #d8ae58;
		margin-bottom: 20px;
	}

	#getInvolved{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}

	#getInvolved h3{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#getInvolved p{
		margin-bottom: 20px;
	}

	#mainFooter{
		display: flex;
		flex-direction: column;
		background-color: #F2F2F2;
	}


	#footerNav{
		display: none;

	}

	#mainFooter a{
		color: #666;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	#socialIcons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 20px;

	}

	#mainFooter img{
		width: 40px;
		height: 40px;
	}

	#mainFooter p{
		color: #666;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		margin-bottom: 10px;

	}

/* Start of the about page */



/* Start of the past event page */


/* Start of the projects page */


/* Start of the newsletters page */


/* Start of the links page */


/* Start of the contact page */


/* Start of the Shop page */







/* TABLET */
@media only screen and (min-width: 600px) {

/* Start of the index page */

	#siteContainer{
		margin: 0 auto;
		max-width: 720px;

	}

	h2{
		font-size: 26px;
	}

	h3{
		font-size: 24px;
	}

	h4{
		font-size: 18px;
	}

	p{
		font-size: 16px;
	}

	#desktopNav{
		display: none;
	}

	#searchNav{
		display: none;
	}

	#hero{

 	 max-height: 480px;

  }

	.imageText{
 	padding-top: 15px;
 	padding-bottom: 15px;
 	font-size: 26px;
	}

	.dedication{
		display: flex;
		justify-content: center;
		font-size: 12px;
		margin-top: 10px;
	}


	#smallContainer{
		margin: 0 auto;
		max-width: 80%;
	}

	#hero{
		max-height: 480px;
	}

	iframe{
		width: 420px;
		height: 250px;
	}

	#socialIcons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}

	#socialIcons img{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	}


	/* Start of the about page */


	/* Start of the past event page */


	/* Start of the projects page */


	/* Start of the newsletters page */


	/* Start of the links page */


	/* Start of the contact page */


	/* Start of the Shop page */

}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

	#siteContainer{
		margin: 0 auto;
		max-width: 1200px;

	}

	#smallContainer{
		margin: 0 auto;
		max-width: 90%;
	}

	#searchNav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: 70px;

	}

	#desktopSearch{
		display: inline;
		max-width: 400px;
		margin-left: auto;
		margin-bottom: 40px;;
		border-radius: 30px;
		background-color: #fff;
		text-align: center;
		outline: 0;
	}

	.locationImg{
		display: none;
	}

	.logoImg{
		margin-left: 100px;
	}

	button{
		display: none;
	}

	#burgerCon{
		display:none;

	}
	#desktopNav{
		display: flex;
	}

	#desktopNav li a{
		margin:10px;
		margin-top: 30px;
		color: #666;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
	}

	#hero{
	max-height: 800px;
	margin-bottom: 40px;
	}

	.imageText{

	font-size: 30px;
	}

	.dedication{
		display: flex;
		justify-content: center;
		font-size: 20 px;
		margin-top: 10px;
	}

	#meeting{

		display: flex;
		flex-direction: row;
		margin-top: 20px;
		margin-bottom: 40px;
		width: 100%;

	}
	#meetingInfo{
		max-width: 50%;

	}

	#generalMeet{
		margin-bottom: 20px;
	}

	#meetingTime{
		margin-bottom: 20px;
	}

	#meetingText{
		line-height: 1.5em;
	}

	iframe{
		width: 600px;
		height: 300px;
		margin-right: 30px;
	}

	#purchase{
		margin-bottom: 40px;
	}

	#purchase ul{
		display: flex;
		flex-direction: row;
	}

	#purchase ul li{
		width: 300px;
	}

	#getInvolved{
		flex-direction: row;
		justify-content: space-between;
	}

	#getInvolved #troutHatch{
	margin-right: 20px;
	}


	/* Start of the about page */


	/* Start of the past event page */


	/* Start of the projects page */


	/* Start of the newsletters page */


	/* Start of the links page */


	/* Start of the contact page */


	/* Start of the Shop page */

}
