@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}

/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/

body{
	background-color: #fff;
	text-align: center;
	font-family: 'Merriweather', serif;
}


/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }


a{
	text-decoration: none;
	border: none;
	color: #fff;
}

a:visited{
	text-decoration: none;
	border: none;
	color: #fff;
}
a:link{
	text-decoration: none;
	border: none;
	color: #fff;
}

h2{
	font-family: 'Roboto', sans-serif;
	color: #d8ae58;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #9abd4e;
	text-align: left;
	margin-bottom: 10px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #bacc81;
}

p{
	font-family: 'Merriweather', serif;
	text-align: left;
	color: #666;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.25em;


}

ul{
	text-decoration: none;
	border: none;
	list-style: none;
}

img{
	border-radius: 3px;
	margin-bottom: 20px;
}


#siteContainer{
	margin: 0 auto;
	max-width: 320px;
}

#smallContainer{
	margin: 0 auto;
	max-width: 280px;
}

#mainHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #F2F2F2;

}

#desktopNav{
	display: none;
}

 .locationImg{
	 width: 20px;
	 height: 35px;
	 margin-left: 30px;
 }


 .imageText{
  position: absolute;
	text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	width: 100%;
	background: rgba(242, 242, 242, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	color: #fff;
 }

 .dedication{
	 display: none;
 }


	#mainHeader button{
		background: url(../images/menu.svg)center no-repeat;
		width: 30px;
		height: 30px;
		border: 0px;
		margin-right: 30px;
		transition: all .3s linear;
	}

	#mainHeader button.expanded{
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	#mainNav{
		display: flex;
		flex-direction: column;

	}

	#mainNav ul li a{
		display: block;
		padding: 10px 0 10px 0;
		text-align: center;
		color: #8EA76D;
	}


	#burgerCon{
		display: none;
	}

	#burgerCon.slideToggle{
		display: block;
		margin-bottom: 10px;
	}


	#searchForm{
		display: flex;
		margin-left: auto;
		margin-bottom: 30px;
		display: none;
	}

	#searchFormMobile{
		display: flex;
		margin-left: auto;
		margin-bottom: 30px;
		justify-content: center;
	}

	#mainSearch{
		display: flex;
		margin-left: auto;
		margin-bottom: 30px;
	}

	#searchCon{
	display: none;
	display: flex;
	flex-direction: row;
	width: 250px;
	}

	#searchConMobile{
	display: flex;
	flex-direction: row;
	width: 250px;
	}

	#searchCon input[type=text]{
	display: block;
	width: 100%;
	height: 40px;
	padding: 5px;
	border: 1px solid #cacaca;
	border-radius: 30px 0px 0px 30px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	line-height: 1.5;
	color: #0a0a0a;
	outline: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	}


	#searchCon input[type=submit]
	{
	height: 40px;
	width: 100px;
	border: 1px solid transparent;
	border-radius: 0px 30px 30px 0px;
	font-size: .75em;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #9abd4e;
	color: #fefefe;
	outline: none;
	}

	#searchCon input[type=submit]:hover{
		transition: ease-in .3s;
		background-color: #d8ae58;
	}

	#searchConMobile input[type=text]{
	display: block;
	width: 100%;
	height: 40px;
	padding: 5px;
	border: 1px solid #cacaca;
	border-radius: 30px 0px 0px 30px;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	line-height: 1.5;
	color: #0a0a0a;
	outline: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	}


	#searchConMobile input[type=submit]
	{
	height: 40px;
	width: 100px;
	border: 1px solid transparent;
	border-radius: 0px 30px 30px 0px;
	font-size: .75em;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #9abd4e;
	color: #fefefe;
	outline: none;
	}

	#searchConMobile input[type=submit]:hover{
		transition: ease-in .3s;
		background-color: #d8ae58;
	}


/* USED FOR CREATING THE BACKGROUND HERO IMAGE ON EVERY PAGE EXCEPT INDEX */
	#smallHero{
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		width: 100%;
		margin-bottom: 20px;
		position: relative;
		text-align: center;
		margin-bottom: 10px;
	}

	#smallHeroText{
	 position: absolute;
	 text-align: center;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-family: 'Roboto', sans-serif;
	 font-weight: bolder;
	 width: 100%;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 font-size: 18px;
	 color: #fff;
	}

	#smallHero img{
		max-height: 100px;
		width: 100%;
	}

	/* MOBILE */


	/* Start of the index page */

	#hero{
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		width: 100%;
		max-height: 213px;
		position: relative;
		text-align: center;
	}

	#welcome{
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	iframe{
		width: 250px;
		height: 150px;
		margin-bottom: 10px;

	}

	#meeting{
		width: 90%;
		margin: 0 auto;
		text-align: left;
		margin-bottom: 20px;
	}

	#generalMeet{
		margin-bottom: 10px;
	}

	#meetingTime{
		margin-bottom: 10px;
	}

	#purchase{
		display: flex;
		flex-direction: column;
		list-style: none;
		font-size: 26px;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 10px;

	}
	#purchase ul li{
		margin: 0 auto;
		color: #fff;
		padding: 10px;
		border-radius: 30px;
		background: #d8ae58;
		margin-bottom: 20px;
	}

	#getInvolved{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}

	#getInvolved h3{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#getInvolved p{
		margin-bottom: 20px;
	}

	#mainFooter{
		display: flex;
		flex-direction: column;
		background-color: #F2F2F2;
	}


	#footerNav{
		display: none;

	}

	#mainFooter a{
		color: #666;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	#socialIcons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 20px;

	}

	#mainFooter img{
		width: 40px;
		height: 40px;
	}

	#mainFooter p{
		color: #666;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		margin-bottom: 10px;

	}

/* Start of the about page */

#waterDesktop{
	display: none;
}

#waterShed{
	margin-bottom: 20px;
}

#waterShed h2{
	margin-bottom: 10px;
}

#moreAbout div{
	margin-bottom: 20px;
}

#partnerText{
	margin-bottom: 20px;
}
#partnerText p{
	margin-bottom: 20px;
	padding: 5px;
	border: 3px solid #d8ae58;
}

#positions div p{
	text-align: center;
}

.executivesCon{
	margin-bottom: 10px;
	padding: 5px;
}

.volunteersCon{

	margin-bottom: 10px;
	padding: 5px;
}

#executives{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#volunteers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#executives div img{
display: none;
}

#volunteers div img{
display: none;
}







/* Start of the projects page */
#archieve{
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}

#archieve ul li{
	margin: 0 auto;
	color: #fff;
	padding: 10px;
	border-radius: 30px;
	background: #d8ae58;
	margin-bottom: 20px;
}

#contentCon{
	margin-bottom: 20px;
}
/* Start of the newsletters page */
#newsletterArchive ul li a{
	font-family: 'Roboto', sans-serif;
	color: #666;
	font-size: 18px;
}

#newsletterArchive{
	text-align: left;
}

#news1900{
	margin-bottom: 20px;
}

#news2000 ul{
	margin-right: auto;
	columns: 50px 3;
}

/* Start of the links page */

	#sites{
		color: #666;
	}

	#linkCon{
		margin-top: 20px;
	}

	#linkTitle{
		display: flex;
		flex-direction: column;
	}

	#linkTitle h2:hover{
		opacity: .5;
	}

	#subLinks ul{
		margin-bottom: 20px;
		padding: 5px;
		border: 3px solid #d8ae58;
	}

	#subLinks h4{
		margin-bottom: 10px;
		margin-top: 10px;

	}




/* Start of the contact page */


/* Start of the Shop page */







/* TABLET */
@media only screen and (min-width: 600px) {

	#smallHeroText{
		font-size: 22px;
	}

/* Start of the index page */

	#siteContainer{
		margin: 0 auto;
		max-width: 720px;

	}

	h2{
		font-size: 26px;
	}

	h3{
		font-size: 24px;
	}

	h4{
		font-size: 18px;
	}

	p{
		font-size: 16px;
	}

	#desktopNav{
		display: none;
	}

	#searchNav{
		display: none;
	}

	#hero{

 	 max-height: 480px;

  }

	.imageText{
 	padding-top: 15px;
 	padding-bottom: 15px;
 	font-size: 26px;
	}

	.dedication{
		display: flex;
		justify-content: center;
		font-size: 12px;
		margin-top: 10px;
	}


	#smallContainer{
		margin: 0 auto;
		max-width: 80%;
	}

	#hero{
		max-height: 480px;
	}

	iframe{
		width: 420px;
		height: 250px;
	}

	#socialIcons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
	}

	#socialIcons img{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	}


	/* Start of the about page */
	#moreAbout div{
		text-align: left;
	}

	#partnerCon{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	#partnerCon div{
	max-width: 45%;
	}


	/* Start of the past event page */


	/* Start of the projects page */
	#archieve{
		display: flex;
		flex-direction: column;
		list-style: none;
		font-size: 26px;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 10px;
	}

	#archieve ul li{
		margin: 0 auto;
		color: #fff;
		padding: 10px;
		border-radius: 30px;
		background: #d8ae58;
		margin-bottom: 20px;
	}

	#archieveButtons{
		display: flex;
		flex-direction: row;
	}

	/* Start of the newsletters page */


	/* Start of the links page */


	/* Start of the contact page */


	/* Start of the Shop page */

}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

	#searchForm{
		display: block;
	}

	#smallHeroText{
		font-size: 26px;
	}

	#footerNav{
		padding-top: 20px;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 600px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#backTop{
		display: none;
	}

	#siteContainer{
		margin: 0 auto;
		max-width: 1200px;

	}

	#smallContainer{
		margin: 0 auto;
		max-width: 90%;
	}

	#searchNav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin-right: 70px;

	}


	.locationImg{
		display: none;
	}

	.logoImg{
		margin-left: 100px;
	}

	button{
		display: none;
	}

	#burgerCon{
		display:none;

	}
	#desktopNav{
		display: flex;
	}

	#desktopNav li a{
		margin:10px;
		margin-top: 30px;
		color: #666;
		font-family: 'Roboto', sans-serif;
		font-weight: lighter;
		font-size: 20px;
	}

	#hero{
	max-height: 800px;
	margin-bottom: 40px;
	}

	.imageText{

	font-size: 30px;
	}

	.dedication{
		display: flex;
		justify-content: center;
		font-size: 20 px;
		margin-top: 10px;
	}

	#meeting{

		display: flex;
		flex-direction: row;
		margin-top: 20px;
		margin-bottom: 40px;
		width: 100%;

	}
	#meetingInfo{
		max-width: 50%;

	}

	#generalMeet{
		margin-bottom: 20px;
	}

	#meetingTime{
		margin-bottom: 20px;
	}

	#meetingText{
		line-height: 1.5em;
	}

	iframe{
		width: 600px;
		height: 300px;
		margin-right: 30px;
	}

	#purchase{
		margin-bottom: 40px;
	}

	#purchase ul{
		display: flex;
		flex-direction: row;
	}

	#purchase ul li{
		width: 300px;
	}

	#getInvolved{
		flex-direction: row;
		justify-content: space-between;
	}

	#getInvolved #troutHatch{
	margin-right: 20px;
	}

	#rodBuilding{
		width: 400px;
	}

	#troutHatch{
		width: 400px;
	}

	/* Start of the about page */

	#moreAbout{
		display: flex;
		flex-direction: column;
	}

	#aboutCon1{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#aboutCon2{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	#moreAbout div picture{
		max-width: 45%;
	}

	#moreAbout div p{
		max-width: 45%;
	}

	#partnerCon{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#partnerLogos{
		max-width: 30%;
	}
	#angling{
		min-width: 90px;
		min-height: 150px;
	}

	#partnerText{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#partnerText p{
		font-size: 20px;
		line-height: 2em;
	}

	#partnerText h3{
		font-size: 28px;
	}

	#positions div div img{
		display: inline;
		padding: 12px;

	}






	/* Start of the projects page */
	#archieve ul li{
		margin: 0 auto;
		color: #fff;
		padding: 10px;
		border-radius: 30px;
		background: #d8ae58;
		margin-bottom: 20px;
		width: 45%;
	}

	.contentInfo{
		display: flex;
		flex-direction: row;
	}

	.contentInfo2{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}


	.contentInfo img{
		width: inherit;
	}

	.contentText{
		display: flex;
		flex-direction: column;
		max-width: 50%;
	}

	.one{
		width: 43%;
		margin-left: auto;
	}

	.two{
		width: 43%;
		margin-right: auto;
	}


	/* Start of the newsletters page */

	#newsletterArchive ul li a{
		font-family: 'Roboto', sans-serif;
		color: #666;
		font-size: 20px;
	}

	#newsletterArchive{
		display: flex;
		flex-direction: row;
		text-align: left;
	}

	#news1900{
		width: 50%;
	}

	#news2000{
		min-width: 50%;
		display: flex;
		justify-content: space-between;
	}

	#news2000 ul{
		columns: 150px 3;
	}

	/* Start of the links page */


	/* Start of the contact page */


	/* Start of the Shop page */

}
