@charset "utf-8";
/*css document*/

.hidden {
	display: none;
}

/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Merriweather', serif;
*/

body{
	background-color: #fff;
	text-align: center;
	font-family: 'Merriweather', serif;
}


/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }


a{
	text-decoration: none;
	border: none;
}

#siteContainer{
	margin: 0 auto;
	max-width: 320px;

}

#mainHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 15px;

}
 .locationImg{
	 width: 20px;
	 height: 35px;
	 margin-left: 30px;
 }





/* MOBILE */


	#mainHeader button{
		background: url(../images/burger0.svg)center no-repeat;
		width: 30px;
		height: 30px;
		border: 0px;
		margin-right: 30px;
		transition: all .3s linear;
	}

	#mainHeader button.expanded{
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	#mainNav{
		display: flex;
		flex-direction: column;
	}

	#mainNav ul li a{
		display: block;
		padding: 10px 0 10px 0;
		text-align: center;
		color: #8EA76D;
	}

	#mainNav li{
		border-bottom: 1px solid #efefef;
	}

	#mainNav li:first-child{
		border-top: 1px solid #efefef;
	}

	#burgerCon{
		display: none;
	}

	#burgerCon.slideToggle{
		display: block;
	}

	#hero{
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/style_intro.jpg);
		color: #fff;
	}





/* TABLET */
@media only screen and (min-width: 600px) {
	#siteContainer{
		margin: 0 auto;
		max-width: 720px;

	}
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

	#siteContainer{
		margin: 0 auto;
		max-width: 1200px;

	}

	button{
		display: none;
	}

	#burgerCon{
		display:flex;
	}


}
